/* style.css */

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column;
    padding: 0px;
    margin: 0px;
}

.background-dark{
    background-color: #1F2937;
}

.background-white{
    background-color: white;
}

.background-grey{
    background-color: #E5E7EB;
}

.header{
    padding: 16px 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-right: auto;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 12px;
}

a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-container{
    display: flex;
    padding: 96px 460px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.hero-text{
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 8px;
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text .subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text .sign-up{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 24px;
    align-self: flex-start;
    border-style: none;
}

.hero-image{
    flex: 1;
    height: 254px;
}

.card-section{
    padding: 48px 460px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    gap: 48px;
}

.card-title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 48px;
}

.card{
    width: 150px;
    height: auto;
}

.card img{
    border-radius: 8px;
    border: 4px #3882F6 solid;
}
.card p{
    font-weight: 100;
    text-align: center;
    color: #808080;
    margin-top: 4px;
}

.quote-section{
    padding: 72px 460px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}

.quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quoted{
    margin-right: 48px;
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.call-section{
    padding: 48px 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 32px 96px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.call-text{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.sign-up-container .subtext{
    color: #F9FAF8;
}

.call-section button{
    background-color: #3882F6;
    border: 2px #F9FAF8 solid;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 24px;
}

.footer{
    padding: 48px 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 18px;
}